* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container-info-top {
  display: flex;
  justify-content: space-between;
}

.container-info-top a {
  color: #fff;
  text-decoration: none;
}

.container-info-top .right-text {
  display: flex;
  gap: 1rem;
}

.container-info-top {
  background-color: #b700e7;
  padding: .3rem;
  color: #fff;
  font-size: .9rem;
}

.container-header-bottom {
  background-color: #650081;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.container-header-bottom img {
  width: 7rem;
}

.container-header-bottom .search-container form {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.container-header-bottom .search-container .login-content {
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
  gap: .7rem;
}

.container-header-bottom .search-container .login-content a {
  text-decoration: none;
  color: #fff;
}

.container-header-bottom .search-container .login-content .text-login {
  display: flex;
  gap: .3rem;
  font-weight: bold;
}

.container-header-bottom .search-container .icon-login {
  font-size: 1.5rem;
}

.container-header-bottom .input-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  width: 22rem;
  border-radius: 4px;
}

.container-header-bottom input {
  outline: none;
}

.container-header-bottom input::placeholder {
  font-size: 1rem;
}

.container-header-bottom input,
.container-header-bottom button {
  border: none;
}

.container-header-bottom button {
  background-color: transparent;
  cursor: pointer;
}

.container-header-bottom button i {
  color: #650081;
  font-size: 1rem;
}

.container-header-bottom .search-container .cart-link {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.container-header-bottom .search-container .cart-link:hover {
  color: #ddd;
}

.container-header-bottom .search-container .cart-link .cart-quantity {
  margin-left: .5rem;
}

nav {
  background-color: #650081;
  padding: .7rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #ddd;
}

.whatsapp-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

main .banner-container ul{
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
}

main .banner-container .banner-item{
  display: flex;
  flex-direction: column;
  text-align: center;
}

main .banner-container .text-container{
  display: flex;
  flex-direction: column;  
}

main .banner-container .text-container .tittle-banner{
  font-weight: bold;
}

main .banner-container .text-container .text-banner{
  color: #aaa;
}